## [ Indexing ]

In [1]:
a= "samoosa pakorra"
a

'samoosa pakorra'

In [2]:
len(a)

15

In [3]:
a[1]

'a'

In [4]:
a[0:1]

's'

In [5]:
a[0:15]

'samoosa pakorra'

In [6]:
a[-15:2] # this only print the first sa character because the 13 character are in negative and

'sa'

## String Methods

In [7]:
food = "biryani"
food

'biryani'

In [8]:
food.upper() #this function is used to transform the text to capital form all the characters

'BIRYANI'

In [9]:
food.capitalize() # this function is used to change the begginer character to capital

'Biryani'

In [10]:
food.lower() # this function is used to change all characters to lower case

'biryani'

In [11]:
name = "ahmad wasim khan"
name

'ahmad wasim khan'

In [12]:
name.replace("ahmad" , "MUHAMMAD") # replace function is used to replace the desired text as shown in the cell

'MUHAMMAD wasim khan'

In [13]:
name.count("a") # count function is used to count the characters in the string for example "a" character are present 4 time in this string

4

In [14]:
name.count("m") # also "m" is present 2 times in this string

2

In [15]:
science = "i love data science"
science

'i love data science'

In [16]:
science.find("d") # this find function is used to find in which index the character are present

7

In [17]:
food1 = "my favorite foods is samoosa, pakorra , biryani , chawwal , chattni"
food1

'my favorite foods is samoosa, pakorra , biryani , chawwal , chattni'

In [18]:
food1.split(",") #the split function is used to splite the character or words by any symbols etc.

['my favorite foods is samoosa',
 ' pakorra ',
 ' biryani ',
 ' chawwal ',
 ' chattni']

## Tuple
- Ordered collection of elements
- inclosed in round "()" braces/parenthesis
- different kind of elements can be stored i.e float , integer , etc
- Once elements can stored you can,t change

In [19]:
tup1 = (2,"Python is Love",2.34,True)
tup1

(2, 'Python is Love', 2.34, True)

In [20]:
type(tup1) #checking the type of tuple

tuple

### Indexing in Tuple

In [21]:
tup1[0]
# To check on which index the element are present

2

In [22]:
tup1[1] # Python is Love is considerd as one element in tuple

'Python is Love'

In [23]:
tup1[0:4] # in this method all elements will be printed

(2, 'Python is Love', 2.34, True)

In [24]:
tup1*2 # this function means that print all the elements 2 times

(2, 'Python is Love', 2.34, True, 2, 'Python is Love', 2.34, True)

In [25]:
tup1*3 #also this print the elements 3 times

(2,
 'Python is Love',
 2.34,
 True,
 2,
 'Python is Love',
 2.34,
 True,
 2,
 'Python is Love',
 2.34,
 True)

In [26]:
len(tup1) # Length of elements in tuple 1

4

In [27]:
tup2 = ("Khan", "Ust bannu",False,33.889)
tup2

('Khan', 'Ust bannu', False, 33.889)

In [28]:
tup1+tup2 #This will add two tuples tup1 and tup2

(2, 'Python is Love', 2.34, True, 'Khan', 'Ust bannu', False, 33.889)

In [29]:
tup1*3 + tup2 # means that tup1 will be printed 3 times and tup2 will be print only one time

(2,
 'Python is Love',
 2.34,
 True,
 2,
 'Python is Love',
 2.34,
 True,
 2,
 'Python is Love',
 2.34,
 True,
 'Khan',
 'Ust bannu',
 False,
 33.889)

In [30]:
tup3 = (20,30,40,50,60,70)
tup3

(20, 30, 40, 50, 60, 70)

In [31]:
len(tup3) # finding length of elements in tup3

6

In [32]:
min(tup3) # finding minimum element in tup3

20

In [33]:
max(tup3) # finding maximum element in tuple3

70

In [34]:
tup3*4 # this will print tup3 four times

(20,
 30,
 40,
 50,
 60,
 70,
 20,
 30,
 40,
 50,
 60,
 70,
 20,
 30,
 40,
 50,
 60,
 70,
 20,
 30,
 40,
 50,
 60,
 70)

### 2 - List
- ordered collection of elements
- enclosed in [ ] square braces/brackets
- mutatable you can change the elements/values

In [35]:
list1 = ["Codanics Youtube channel", False, 202, 55.56]
list1

['Codanics Youtube channel', False, 202, 55.56]

In [36]:
len(list1)#length of elements

4

In [37]:
type(list1) #type of the list

list

In [38]:
list1[0]    # to show elements on which index are present

'Codanics Youtube channel'

In [39]:
list1*3

['Codanics Youtube channel',
 False,
 202,
 55.56,
 'Codanics Youtube channel',
 False,
 202,
 55.56,
 'Codanics Youtube channel',
 False,
 202,
 55.56]

In [40]:
list1+list1

['Codanics Youtube channel',
 False,
 202,
 55.56,
 'Codanics Youtube channel',
 False,
 202,
 55.56]

In [41]:
list1.reverse() # this function will change the accending order to decending order
list1

[55.56, 202, False, 'Codanics Youtube channel']

In [42]:
list2 = [10,20,30,40,50,60,70,80,90,100,200]
list2

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200]

In [43]:
list2.reverse()
list2

[200, 100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [44]:
list2.append("AHMAD WASIM KHAN") # this "append" function will add the "ahmad wasim khan" to the values of list2
list2

[200, 100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 'AHMAD WASIM KHAN']

In [45]:
len(list2)

12

In [46]:
list3 = [20,48,596,5,68,45,60,67,30,29,40,68,47,50,90]
list3

[20, 48, 596, 5, 68, 45, 60, 67, 30, 29, 40, 68, 47, 50, 90]

In [47]:
len(list3)

15

In [48]:
list3.sort()    # THIS FUNCTION WILL SORT THE NUMBER
list3

[5, 20, 29, 30, 40, 45, 47, 48, 50, 60, 67, 68, 68, 90, 596]

### - Count function is assignment
- i will check later with internet

In [49]:
list3*3 #this function will repeat the values three times

[5,
 20,
 29,
 30,
 40,
 45,
 47,
 48,
 50,
 60,
 67,
 68,
 68,
 90,
 596,
 5,
 20,
 29,
 30,
 40,
 45,
 47,
 48,
 50,
 60,
 67,
 68,
 68,
 90,
 596,
 5,
 20,
 29,
 30,
 40,
 45,
 47,
 48,
 50,
 60,
 67,
 68,
 68,
 90,
 596]

In [50]:
list1 + list3 #this function will add list 1 and list2

[55.56,
 202,
 False,
 'Codanics Youtube channel',
 5,
 20,
 29,
 30,
 40,
 45,
 47,
 48,
 50,
 60,
 67,
 68,
 68,
 90,
 596]

## 3 - Dictionaries
- An unordered collection of elements
- Keys with values
- curly { } braces/brackets
- Mutatable/ you may change values

In [51]:
# Foods and thier prices
food1 = {"Samoosa":20, "Pakorra":100, "Salad":10, "Biryani":200, "Karrahi":1200}
food1

{'Samoosa': 20, 'Pakorra': 100, 'Salad': 10, 'Biryani': 200, 'Karrahi': 1200}

In [52]:
type(food1)

dict

In [53]:
len(food1)

5

In [54]:
food1.keys() # this function will extract the keys such as samoosa pakkorra etc

dict_keys(['Samoosa', 'Pakorra', 'Salad', 'Biryani', 'Karrahi'])

In [55]:
food1.values() # this function will extract the values of keys as below

dict_values([20, 100, 10, 200, 1200])

In [56]:
food1["Kheer"]=120  # by this method we add new value to the dictionary as shown below "Kheer:120"
food1

{'Samoosa': 20,
 'Pakorra': 100,
 'Salad': 10,
 'Biryani': 200,
 'Karrahi': 1200,
 'Kheer': 120}

In [57]:
food1["Kheer"]=300  #to update the or change the value of keys "Kheer" we use this method
food1

{'Samoosa': 20,
 'Pakorra': 100,
 'Salad': 10,
 'Biryani': 200,
 'Karrahi': 1200,
 'Kheer': 300}

In [58]:
food2 = {"Dates":1000, "Sawayya":1500, "Chocolates":300}
food2

{'Dates': 1000, 'Sawayya': 1500, 'Chocolates': 300}

In [59]:
# adding or concatination the two dictionaries
food1.update(food2)
food1

{'Samoosa': 20,
 'Pakorra': 100,
 'Salad': 10,
 'Biryani': 200,
 'Karrahi': 1200,
 'Kheer': 300,
 'Dates': 1000,
 'Sawayya': 1500,
 'Chocolates': 300}

## -4 Sets
- Unordered and unindexed
- curly { } braces are used
- No duplicates allowed

In [60]:
s1 = {"Wasim Khan", 5, 5.5, True, 67.7}
s1

{5, 5.5, 67.7, True, 'Wasim Khan'}

In [61]:
len(s1)

5

In [62]:
s1.add("Ahmad") # to add new element to set we use this method
s1

{5, 5.5, 67.7, 'Ahmad', True, 'Wasim Khan'}

In [63]:
s1.remove(True) # to remove element from set we use this method
s1

{5, 5.5, 67.7, 'Ahmad', 'Wasim Khan'}

In [64]:
s1.add("Wasim Khan") # "to be Note" dublicates are not added
s1

{5, 5.5, 67.7, 'Ahmad', 'Wasim Khan'}